/* for printing invoices options */
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}

@media print {
    /* .content-body {
        content:url(/uploads/letterHead1.jpg);
       } */
       /* body:before { content: url(/uploads/letterHead1.jpg);} */
    .btn-print,
    .btn-print-modal,
    .buy-now,
    .content-header,
    .footer,
    .main-menu,
    .modal,
    .open {
        display: none
    }

    #invoice-template,
    .content-wrapper {
        padding-top: 0
    }

    #invoice-template,
    .app-content,
    .header-navbar,
    .navbar-container,
    .navbar-wrapper {
        margin: 0 !important;
        padding: 0 !important
    }

    #invoice-footer {
        position: relative;
        /* top: -20px !important */
    }

    #invoice-customer-details{
        margin-top: 150px !important;
    }
    .table-responsive {
        -ms-overflow-style: none
    }
    /* body {
        content:url(/uploads/letterHead1.jpg);
       } */
}

@page {
    size: auto;
    margin: 0
}
